#menu{
    right: 10px;
    top: 10px;
    position: fixed;
    z-index: 100;
    #selectors{
        display: none;
        position: absolute;
        right: 0px;
        visibility: hidden;
        &.active{
            display: flex;
            flex-direction: column;
            visibility: visible;
        }
    }

    #settings-button{
        text-align: right;
        width: 25px;
        color: white;
    }
}